
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Login Example - Semantic</title>
    <link rel="stylesheet" type="text/css" href="../dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="../dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/menu.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/input.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/message.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/icon.css">

    <!--yin引入jquery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!--引入semantic ui-->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>

    <script src="assets/library/jquery.min.js"></script>
    <script src="../dist/components/form.js"></script>
    <script src="../dist/components/transition.js"></script>

    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
    <script>
        // $(document)
        //     .ready(function() {
        //         $('.ui.form')
        //             .form({
        //                 fields: {
        //                     username: {
        //                         identifier  : 'username',
        //                         rules: [
        //                             {
        //                                 type   : 'empty',
        //                                 prompt : 'Please enter your username'
        //                             },
        //                             {
        //                                 type   : 'email',
        //                                 prompt : 'Please enter a valid e-mail'
        //                             }
        //                         ]
        //                     },
        //                     password: {
        //                         identifier  : 'password',
        //                         rules: [
        //                             {
        //                                 type   : 'empty',
        //                                 prompt : 'Please enter your password'
        //                             },
        //                             {
        //                                 type   : 'length[6]',
        //                                 prompt : 'Your password must be at least 6 characters'
        //                             }
        //                         ]
        //                     }
        //                 }
        //             })
        //         ;
        //     })
        // ;

        $('.ui.form').form({
            fields:{
                username:{
                    identifier:'username',
                    rulers:[{
                        type:`empty`,
                        prompt:`请输入用户名`,
                    }]
                },
                password:{
                    identifier:'password',
                    rulers:[{
                        type:`empty`,
                        prompt:`请输入密码`,
                    }]
                }
            }
        });
    </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">

            <div class="content">
                请登录
            </div>
        </h2>
        <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="用户名">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <button class="ui fluid large teal submit button">登 录</button>
            </div>

            <div class="ui mini error message">

            </div>
            <div class="ui mini negative message" >


            </div>

        </form>


    </div>
</div>

<!--/*/<th:block th:replace="admin/_fragments::script">/*/-->
<!--yin引入jquery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--引入semantic ui-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!--/*/</th:block>/*/-->



</body>

</html>
