<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>首页</title>
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css"  >
</head>
<body>

<!--导航-->
<nav th:replace="_fragments::menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu"><!--stackable移动端导航:可堆叠-->
            <h2 ui class="ui teal secondary item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i> 首页</a><!--m-mobile-hide:手机端隐藏-->
            <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i> 分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i> 标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i> 归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i> 关于我</a>
            <div class="right item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-container m-padding-tb-large">
    <!--容器：根据屏幕大小自适应-->
    <div class="ui container">
        <!--设置布局ui grid-->
        <div class="ui grid stackable">
            <!--中间内容的左部分:博客列表-->
            <div class="eleven wide column">
                <!--top attached和attached将segment连在一块-->
                <div class="ui  top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h2>篇
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached  segment">
                    <div class="ui padded vertical segment" th:each="blog:${page.content}">
                        <div class="ui grid middle aligned stackable mobile reversed" ><!--mobile reversed stackable:手机端,图片置于上方-->
                            <!--一个布局分为左右两个部分,总共11+5=16等分-->
                            <div class="ui  eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/toView/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你学习了吗？</a></h3>
                                <p class="m-text" th:text="${blog.content}">
                                    学习，是指通过阅读、听讲、思考、研究、实践等途径获得知识和技能的过程。学习分为狭义与广义两种：狭义：通过阅读、听讲、研究、观察、理解、探索、实验、实践等手段获得知识或技能的过程，是一种使个体可以得到持续变化（知识和技能，方法与过程，情感...</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--默认纵向，horizontal为横向-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--avatar image 圆形的小图片-->
                                                <img src="../static/images/favicon.PNG" th:src="@{${blog.user.avatar}}" height="100" width="100" alt=""
                                                     class="ui avatar image">
                                                <!--在图片后边加文字，用content-->
                                                <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">原希</a></div>
                                            </div>
                                            <div class="item">
                                                <!--一个日期设置-->
                                                <i class="calendar  icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020.07.29.23:25</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.view}">2333</span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" th:href="@{/toView/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://picsum.photos/800/450?image=1000" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                </a>

                            </div>
                        </div>
                    </div>

                </div>

                <!--中间内容的底部footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class=" right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--中间内容的右部分：-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segment">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <!--加个图标-->
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="column right aligned">
                                <a href="#" th:href="@{/toTypeShow/-1}" target="_blank" class="">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/toTypeShow/{id}(id=${type.id})}" target="_blank" class="item" th:each="type:${types}">
                                 <span th:text="${type.name}">学习日志</span>
                                <div class="ui basic left pointing label" th:text="${type.blogs.size()}">13</div>
                            </a>
                        </div>

                    </div>
                </div>
                <!--标签-->
                <div class="ui segment m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <!--加个图标-->
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="column right aligned">
                                <a href="#" th:href="@{/toTagShow/-1}" target="_blank"  class="">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" th:href="@{/toTagShow/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag:${tags}">
                            <span th:text="${tag.name}">前端</span>
                            <div class="detail" th:text="${tag.blogs.size()}">5</div>
                        </a>


                    </div>
                </div>
                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment ">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:each="blog:${recommendBlogs}">
                        <a href="#" th:href="@{/toView/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事</a>
                    </div>
                </div>
                <!--分割线-->
                <div class="ui horizontal divider header">扫码关注</div>
                <!--二维码-->
                <div class="ui card centered m-margin-top-large" style="width: 10em">
                    <img src="../static/images/二维码.jpg" th:src="@{/images/二维码.jpg}" alt="" class="ui rounded image">
                </div>


            </div>
        </div>

    </div>
</div>

</div>
<!--底部-->
<footer th:replace="_fragments::footer" class="ui inverted vertical segment m-padding-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid  stackable">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/图标2.ico" th:src="@{/images/图标2.ico}" class="ui rounded image" alt="" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui  inverted  header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事1</a>
                    <a href="#" class="item">用户故事2</a>
                    <a href="#" class="item">用户故事3</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui  inverted  header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事1</a>
                    <a href="#" class="item">用户故事2</a>
                    <a href="#" class="item">用户故事3</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui  inverted  header">编者寄</h4>
                <p>但愿人长久，千里共婵娟</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini"> 博客欢迎你</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments::script">/*/-->
    <!--yin引入jquery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!--引入semantic ui-->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!--/*/</th:block>/*/-->

<script>
    $(`.menu.toggle`).click(function (){
        $(`.m-item`).toggleClass(`m-mobile-hide`);
    });
</script>
</body>
</html>